<section id="seja-parceiro">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-5" ng-bind-html="vm.parceiros.titulo"></div>
            <div class="col-sm-12 col-md-12 col-lg-12" ng-bind-html="vm.parceiros.texto"></div>
        </div>
        <div class="form-container">
            <h3 class="text-center">INFORMAÇÕES GERAIS</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="nome">NOME COMPLETO</label>
                        <input type="text" id="nome" class="form-control" name="nome" />
                    </div>
                    <div class="form-group">
                        <label for="razaosocial">RAZÃO SOCIAL</label>
                        <input type="text" id="razaosocial" class="form-control" name="razaosocial" />
                    </div>
                    <div class="form-group">
                        <label for="email">E-MAIL</label>
                        <input type="text" id="email" class="form-control" name="email" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="cnpj_cpf">CNPJ / CPF</label>
                        <input type="text" id="cnpj_cpf" class="form-control" name="cnpj_cpf" />
                    </div>
                    <div class="form-group">
                        <label for="razaosocial2">RAZÃO SOCIAL</label>
                        <input type="text" id="razaosocial2" class="form-control" name="razaosocial2" />
                    </div>
                    <div class="form-group">
                        <label for="telefone">TELEFONE</label>
                        <input type="text" id="telefone" class="form-control" name="telefone" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="mensagem">MENSAGEM</label>
                        <textarea class="form-control" id="mensagem" name="mensagem"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-enviar pull-right">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</section>