/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$branco:									#FFFFFF !default;
$preto:										#000000 !default;
$color_steel_blue_approx: 					#007dbd !default;
$color_keppel_approx: 						#009f91 !default;
$color_background_header:					#1e191a !default;
$color_header_link_hover:					#0097c5 !default;
$main_color:								#434343 !default;
$footer_line_color:							#3a3638 !default;
$footer_assinatura_color:					#5f5f5f !default;
$color_background_beneficio:				#499aaf !default;
$border_color_form_container:				#c3dfed !default;
$background_color_input_form:				#f6f4f4 !default;
$background_color_btn_label:				#cecece !default;
$color_link_text_video:						#2294cb !default;
$background_color_endereco:					#343535 !default;

/* ----- Reutilizables ----- */
.bold { font-weight: bold; }

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */

$gotham-light:	"Gotham Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gotham-bold:	"Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;


